# Ignore directories
downloaded_threads/
markdown_files/
__pycache__/
venv/
.venv/

# Ignore files
.env
preprocess.py
downloader.py
scrape_website.py
webembedder.py
embedder.py
generate_embeddings_markdown.py
test.py
*.pyc
.DS_Store